/*************************** Keyframes *******************************/
@keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}
@-moz-keyframes opacity { 
    from { opacity: 0; } 
    to { opacity: 1; } 
}
@-ms-keyframes opacity { 
    from {opacity:0; } 
    to { opacity: 1; } 
}
@-o-keyframes opacity { 
    from {opacity:0; } 
    to { opacity: 1; } 
}
@-webkit-keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}
@keyframes background { 
    from { background-color:#ffffff; } 
    to { background-color: #f4f4f1; } 
}
@-moz-keyframes background { 
    from { background-color:#ffffff; } 
    to { background-color: #f4f4f1; } 
}
@-ms-keyframes background { 
    from { background-color:#ffffff; } 
    to { background-color: #f4f4f1; } 
}
@-o-keyframes background { 
    from { background-color:#ffffff; } 
    to { background-color: #f4f4f1; } 
}
@-webkit-keyframes background { 
    from { background-color:#ffffff; } 
    to { background-color: #f4f4f1; } 
}
@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
@-moz-keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
@-ms-keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
@-o-keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

/*************************** Global *******************************/
::selection {
  color: #006C92;
}
.button, 
input.form-submit, 
input.button-primary, 
button.button-primary, 
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
  background: #4fb646;
  cursor: pointer;
}
input.button-primary:hover, input.button-primary:focus, button.button-primary:hover, button.button-primary:focus {
  color: #282A29;
}
body:not(.logged-in) .l-main .container.justify-end {
  justify-content: flex-start;
}

/*************************** Top Bar *******************************/
.layout--ptc-app-ui-left .l-header {
  color: #282A29;
  background: #ffffff;
  border-bottom: solid #d7d8d7 1px;
}
.l-header a {
  color: #282A29;
}
.l-header a:hover {
  font-weight: 900;
}

/*** User Menu ***/
.l-header .block-menu {
  text-align: left;
}
@media (min-width: 480px) {
  .l-header .block-menu {
    text-align: right;
  }
}

.welcome {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.welcome:before {
  content: "";
  display: inline-block;
  background: url('../images/profile.svg') no-repeat;
  background-size: cover;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
.welcome span.caret:after {
  content: "\25BE";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: .5rem;
}
.welcome ul.menu-tree {
  display: none;
  position: absolute;
  background: #ffffff;
  border-bottom: 1px solid #d7d8d7;
  z-index: 100;
  color: #282A29;
  min-width: 150px;
}
.welcome:hover ul.menu-tree {
  display: block;
  opacity: 1;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
.l-header .menu > li, .header-menu li {
  float: none;
}
@media (min-width: 62em) {
	.l-header .menu > li {
		font-size: 1em;
	}
}
@media (min-width: 34em) {
	.l-header .menu > li {
	    font-size: .75em;
	}
	.l-header .menu a {
		padding: 1.25rem 1.25rem 0 1.25rem;
	}
	.l-header .menu li:last-child a {
  	padding-bottom: 1.25rem;
  }
}

/*** Search Bar ***/
#search-bar {
  position: relative;
  padding: 5px 0;
}
#search-bar input {
  padding: 6px 10px 6px 40px;
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  border-width:0px;
  border:none;
  font-size: 18px;
  background-size: 20px;
  background-position-x: 10px;
  background-position-y: center;
  border-radius: 10px;
}
#search-bar input:focus , .filled-background{
  border: none;
  outline: none;
  animation: background 300ms ease-in-out forwards;
}
#search-bar-results {
  position: absolute;
  z-index: 100;
  border-bottom: 1px solid #d7d8d7;
  animation: background 300ms ease-in-out forwards;
  margin-left: 20px;
  max-width: 225px;
}
#search-bar-results .contact-result {
  animation: expand .5s ease-in-out;
  min-width: 150px;
  padding: 5px 1em;
  word-break: break-word;
  padding-left: 3em;
  text-indent: -2em;
}

/*************************** Side Bar *******************************/
@media (min-width: 768px) {
  .container > .l-navigation.col-xs-1 {
    max-width: 5.3333333333%;
  }
  .container > .l-content.col-xs-11 {
    max-width: 94.6666666667%;
    flex: 0 1 94.6666666667%;
  }
}
.navigation .block-content {
  position: relative;
  text-align: center;
}
.navigation a img {
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -moz-transition: 1s filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
  transition: 1s filter linear, 1s -webkit-filter linear;
  }
.navigation a:hover img, .navigation.active a img {
  filter: brightness(50%);
  }
.nav-caption {
  display: none;
  position: absolute;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=-1.00000000, M21=1.00000000, M22=0.00000000,sizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.00000000, M12=-1.00000000, M21=1.00000000, M22=0.00000000,sizingMethod='auto expand');
  -moz-transform:  matrix(0.00000000, 1.00000000, -1.00000000, 0.00000000, 0, 0) translate(0, -100%);
  -webkit-transform:  matrix(0.00000000, 1.00000000, -1.00000000, 0.00000000, 0, 0) translate(0, -100%);
  -o-transform:  matrix(0.00000000, 1.00000000, -1.00000000, 0.00000000, 0, 0) translate(0, -100%);
  -ms-transform:rotate(90deg) translate(0, -100%);
  transform: rotate(90deg) translate(0, -100%);
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
	top: 2em;
  background-color: #282a29;
  border-bottom: 1px solid #4fb646;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  padding: 0 5px;
  font-weight: 900;
}
.nav-caption.active {
  display: block;
}  
/*************************** Add button Modal *******************************/
.modal {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #272929;
  padding: 10px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 65px 0 0 0;
  z-index: 100;
}
.modal.open {
  border-radius: 40px 0 0 0;
}
.modal .toggle {
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 14px;
  top: 14px;
  cursor: pointer;
  z-index: 101;
  background-image: url('../images/add.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -moz-transition: 1s filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
  transition: 1s filter linear, 1s -webkit-filter linear;
}
.modal .toggle:hover {
  filter: brightness(50%);
}
.modal.open .toggle {
  width: 20px;
  height: 20px;
  left: unset;
  bottom: unset;
  right: 1em;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.modal.open .block-pei-menu-pei-add-links {
  display: block;
  padding: 15px;
}
.modal .block-pei-menu-pei-add-links {
  display: none;
}
.modal ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.modal li {
  margin-left: -.5em;
}
.modal a {
  text-decoration: none;
  color: #ffffff;
  padding: .2em .5em;
  border-radius: 2px;
}
.modal a:hover {
  background: #4fb646;
  color: #282A29;
}
.add-activity {
  cursor: pointer;
}
.add-activity ul {
  display: none;
}
.add-activity ul.open {
  display: block;
  animation: growDown 300ms ease-in-out forwards;
}
.add-activity li {
  margin-left: .5em;
}
.add-activity li:before {
  content: "-";
  color: #ffffff;
  margin-right: .2em;
  font-weight: 900;
}
.add-activity li:hover:before {
  color: #4fb646;
}
.modal h2 {
  color: #ffffff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
}
.modal h2:hover {
  color: #4fb646;
}
.modal span.caret:after {
  content: "\25BE";
  display: inline-block;
  width: 1rem;
  height: 1.6rem;
  margin-left: .5rem;
  color: #ffffff;
}
.modal span.caret.open:after {
  transform: rotate(-180deg);
}

/*************************** CiviCRM General Dialog *******************************/
.crm-container.ui-dialog {
  padding: 0;
}
.crm-container.ui-dialog.ui-widget.ui-widget-content {
  border: none;
}
.crm-container .ui-dialog-title {
  background: none;
  padding-left: 0;
  font-size: 20px;
}
.ui-dialog .ui-dialog-titlebar-close {
  right: 0;
  top: 0;
  height: 100%;
}
.crm-container .ui-dialog-titlebar .ui-button:hover {
  background-color: #4fb646;
}
.crm-container .ui-dialog-titlebar.ui-widget-header,
.crm-container .ui-dialog-titlebar.ui-widget-header,
.ui-dialog .ui-dialog-titlebar {
  padding: 2em 2em;
  background:  #272929;
  border: 0;
}
.crm-container .crm-dialog-titlebar-print, .crm-container .crm-dialog-titlebar-resize {
  display: none;
}
.crm-container a.button, .crm-container a.button:link, .crm-container a.button:visited, .crm-container .ui-dialog-buttonset .ui-button, .crm-container .crm-button {
  background: #4fb646;
  padding: 1em;
  border-radius: 0;
  border: 0;
  text-shadow: none;
}
.crm-container .crm-button:hover, .crm-container .crm-button:focus, .crm-container .ui-dialog-buttonset .ui-button:hover, .crm-container .ui-dialog-buttonset .ui-button:focus, .crm-container a.button:hover, .crm-container a.button:focus {
  color: #ffffff;
  background: #272929;
}
#crm-container .help, .crm-container #help, .crm-container .help {
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.3)!important;
  color: #282A29;
  padding: 10px;
  border-radius: 0;
  border-left: 3px solid #4fb646;
  margin: 2em;
}
.ui-dialog.crm-container .crm-section .label {
  float: none;
  width: auto;
  text-align: left;
}
.ui-dialog.crm-container .crm-section .content {
  margin-left: 0;
}
.ui-dialog.crm-container form {
  margin: 0 auto;
}
.ui-dialog.crm-container form .crm-section .crm-form-radio + label, .ui-dialog.crm-container form .crm-section .crm-form-checkbox + label {
  float: left;
}
.ui-dialog.crm-container form .crm-section .crm-form-radio,
.ui-dialog.crm-container form .crm-section .crm-form-checkbox {
  float: left;
  clear: left;
}
.ui-dialog input.crm-form-text[name="email"], .ui-dialog input.crm-form-text[name="guardian_email"] {
  width: 12em;
}
.ui-dialog .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 760px;
}
/*************************** Dashlets *******************************/

.dashlet {
  background: #f9f9f9;
  border-radius: 15px;
  margin: 10px;
  padding: 16px!important;
}
.header-row {
  padding: 0!important;
}
.icon-expand {
  background-color: #5d5d5d;
  background-image: url('../images/expand.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: .5rem;
  color: #282A29;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 14px 0 7px;
  padding: 7px;
  transition: 1s filter linear, 1s -webkit-filter linear;
}
.icon-expand:hover {
  filter: brightness(50%);
}
.ui-accordion .ui-accordion-content {
  padding: 0;
  padding-top: 1em;
  border-radius: 5px;
}
.ui-accordion .ui-accordion-content-active {
  display: flex!important;
}
.ui-accordion .ui-accordion-content span {
  margin-bottom: .5em;
  word-break: break-word;
}
.ui-accordion .ui-widget-content {
  border: none;
}

/** statistics **/
.aggregate-activity .views-field-activity-type {
  font-size: 20px;
  font-weight: 900;
  border-bottom: solid #d7d8d7 1px;
}
.aggregate-activity .views-row {
  margin-bottom: 1em;
}
.aggregate-activity .column-clear {
  background: #ffffff;
  border-radius: 5px;
  margin-right: 1%;
  margin-top: .5em;
  line-height: 1.2;
}
.aggregate-activity .column-clear .data {
  font-size: 22px;
  font-weight: 900; 
}
.aggregate-activity .column-clear .label {
  color: #4fb646;
  text-transform: uppercase;
  font-size: 12px;
}
.aggregate-activity .container.gutters > .views-field-activity-type.col-12 {
  padding: 0;
}
@media (min-width: 480px) {
  .aggregate-activity .container > .col-xs-6.column-clear {
    max-width: 49%;
  }
}
@media (min-width: 992px) {
  .aggregate-activity .container > .col-md-4.column-clear {
    max-width: 32.333333%;
  }
}


/** members **/
.summary .actions {
  margin-left: 2em;
  float: right;
}
.summary .data {
  font-weight: 900;
  }
.summary .views-field-activity-type h3 {
  border-bottom: solid #d7d8d7 1px;
  margin-bottom: 1em;
  margin-top: .5em;
}
.summary .general .views-field-hours-43 .field-content,
.summary .general .views-field-nothing .field-content {
  background: #4fb646;
  padding: .5em;
  display: block;
  border-radius: 5px;
  color: #ffffff;
}
.summary .views-field-hours-43 {
  margin-top: 1em;
}
@media (min-width: 480px) {
  .summary .container > .col-xs-6.column-clear {
    max-width: 100%;
    flex: 0 0 100%;
    overflow: auto;
  }
}
@media (min-width: 768px) {
   .summary .container > .col-md-4.column-clear {
    max-width: 50%;
    flex: 0 0 50%;
    overflow: auto;
  }
  .summary .container > .col-md-4.column-clear.views-field-hours-43,
  .summary .container > .col-md-4.column-clear.views-field-nothing {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media (min-width: 992px) {
  .summary .container > .col-md-4.column-clear {
    max-width: 50%;
    flex: 0 0 50%;
    overflow: auto;
  }
  .summary .container > .col-md-4.column-clear.views-field-hours-43,
  .summary .container > .col-md-4.column-clear.views-field-nothing {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

/** recent activities **/
.block-views-educators-recent-activity-view-added-by-educator-block .views-row, .block-views-program-administrators-top-and-bottom-teen-councils-block .view .view .views-row  {
  width: 100%;
}
.recent-activities .views-row {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e2e5e5;
}
.recent-activities .views-row a {
  text-decoration: none;
  font-weight: 900;
}
.recent-activities .dropbutton .dropbutton-action > * {
  padding: 2px;
  font-size: 15px;
  text-decoration: none;
}
.js .recent-activities .dropbutton-widget {
  border: none;
}
.js .recent-activities .dropbutton-widget .dropbutton {
  padding: 0 .5em;
}
.recent-activities .dropbutton-wrapper {
  top: -4px;
}
.dropbutton-arrow {
  border-width: 0.25em 0.25em 0;
}

/*************************** Expanded Views *******************************/

.view-expanded-views-activities table.views-table {
  font-size: 125%;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  border: solid #f9f9f9 1px;
  position: relative;
}
.view-expanded-views-activities table.views-table td,
.view-expanded-views-activities table.views-table th {
  border: solid #f9f9f9 1px;
  padding: 0.5rem 1rem;
}
.view-expanded-views-activities table.views-table thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  background: #f9f9f9;
  top: 0;
  z-index: 1;
  padding: 3px;
  width: 25vw;
}
.view-expanded-views-activities table.views-table td {
  background: #fff;
  padding: 4px 5px;
  text-align: center;
}
.view-expanded-views-activities table.views-table tbody th {
  font-weight: 100;
  font-style: italic;
  text-align: left;
  position: relative;
}
.view-expanded-views-activities table.views-table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}
.view-expanded-views-activities table.views-table tbody td.views-field-display-name-1 {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  background: #f9f9f9;
  z-index: 1;
}
.view-expanded-views-activities .view-content {
  width: 92vw;
  max-width: 100%;
  max-height: 85vh;
  overflow: scroll;
  position: relative;
  left: 0;
}

/* Form Elements */
.form-action-buttons {
  float: right;
}
.js fieldset#edit-more-filters,
.js fieldset#edit-manage-columns {
  border-bottom: 1px solid #d7d8d7;
  margin: .5em 0;
}
fieldset#edit-filters {
  margin-bottom: 0;
}
fieldset#edit-filters .fieldset-wrapper {
  margin: 0;
}
.select2-container {
  max-width: 100%;
}
.select2-container-multi .select2-choices,
form:not(#user-login-form) .form-item input[type='text'] {
  background-image: none;
  border-radius: 0;
  border: solid 1px #d7d8d7;
  max-width: 100%;
}
fieldset#edit-filters-date .fieldset-legend,
fieldset#edit-more-filters-retreat-end-date .fieldset-legend {
  position: relative;
}
.sliderfield-container {
  margin-top: 50px;
}
.sliderfield .sliderfield-bubble {
  border: none;
  padding: 4px 8px;
  color: #ffffff;
  background: #4fb646;
  top: -10px;
}
.sliderfield .sliderfield-event-field-container, 
.sliderfield .form-item-more-filters-hours-value2,
.sliderfield .form-item-more-filters-people-reached-value2,
.sliderfield .form-item-more-filters-conversations-value2  {
  display: none;
}
.use-select-2.form-select {
  max-width: 100%;
  width: 100%
}
.form-type-select .select2-container.select2-container-multi,
.form-type-select .select2-container {
  width: unset!important;
}
.form-type-select .select2-container.select2-container-multi {
  width: 100%!important;
}
form:not(#user-login-form) input.form-text {
  width: 100%;
}
.fieldset-wrapper  .form-type-date {
  margin-bottom: 0;
}
.form-item.form-type-checkbox {
  white-space: inherit;
}
.form-item.form-type-checkbox label {
  display: inline-flex;
  position: absolute;
  top: 3px;
}
.form-checkboxes .form-item:last-child {
  margin: 0 0 1.5em
}

/*************************** Pager *******************************/
.pager-first, .pager-previous, .pager-next, .pager-last {
  background-color: #4fb646;
}

/*************************** Misc Overrides *******************************/

/* Backdrop overrides */
.user-login-block {
  transform: perspective(1px) translateY(0%);
}
.password-toggle {
  position: relative;
  top: inherit;
  display: block;
}
.user-login-block ul {
  margin: 0;
  padding: 0;
}
.user-login-block ul a {
  font-size: .8em;
}
div.messages.status:before {
  background-color: #4fb646;
}

/* layout overrides */
.layout--ptc-app-ui-left .ptc-main {
  overflow: clip;
}
.crm-i[aria-hidden="true"] {
  display: block;
}

/* CiviCRM General Overrides */
.crm-footer,
#crm-container #access {
  display: none;
}
.logged-in ul.primary li a, .logged-in ul.primary li a:visited, .logged-in ul.primary li a:hover, .logged-in ul.primary li.active a, .expand-dropdown-tabs-control, .responsive-tabs-mobile .expand-dropdown-tabs-control:before, .responsive-tabs-mobile .expand-dropdown-tabs-label {
  border-color: #4fb646;
}
.ac_results-inner, .crm-participant-list-inner, .crm-event-links-list-inner, .crm-contribpage-links-list-inner, .crm-contact-actions-list-inner {
  margin-top: 17px;
}
.ac_results {
  background: none;
}
#crm-container .ac_results li {
  line-height: 20px;
}
#crm-contact-actions-list {
  width: 200px;
}
.crm-container h3 {
  background: #F4F4ED;
}
.ui-tabs-anchor .crm-i {
  display: none;
}
@media (min-width: 480px) {
  .crm-actions-ribbon ul {
    float: right;
  }
}
#crm-contact-actions-wrapper a {
  color: #282A29;
}
#crm-contact-actions-wrapper .crm-contact-actions-list-inner a {
  color: #ffffff;
}
#crm-contact-actions-wrapper .crm-contact-actions-list-inner a:hover {
  color: #282A29;
}
.crm-container #actions a.button {
  background: transparent;
}

/* CiviCRM Buttons */
.crm-container .btn-secondary, .crm-container #actions #crm-submit-buttons button.crm-form-submit, .crm-container #crm-submit-buttons #actions button.crm-form-submit, .crm-container #actions button.crm-button.crm-form-submit, .crm-container #actions .crm-hover-button, .crm-container #actions .ui-dialog-buttonset .ui-button, .crm-container .ui-dialog-buttonset #actions .ui-button, .crm-container #actions input[type=button], .crm-container #crm-main-content-wrapper div.action-link #crm-submit-buttons button.crm-form-submit, .crm-container #crm-submit-buttons #crm-main-content-wrapper div.action-link button.crm-form-submit, .crm-container #crm-main-content-wrapper div.action-link button.crm-button.crm-form-submit, .crm-container #crm-main-content-wrapper div.action-link .crm-hover-button, .crm-container #crm-main-content-wrapper div.action-link .ui-dialog-buttonset .ui-button, .crm-container .ui-dialog-buttonset #crm-main-content-wrapper div.action-link .ui-button, .crm-container #crm-main-content-wrapper div.action-link a.button, .crm-container #crm-main-content-wrapper div.action-link input[type=button], .crm-container .btn-primary, .crm-container .ui-dialog .ui-dialog-content .button:not(.hr-job-info-close), .crm-container #crm-submit-buttons button.crm-form-submit:not(.cancel), .crm-container button.crm-form-submit.crm-button:not(.cancel), .crm-container .crm-form-submit.crm-hover-button:not(.cancel), .crm-container .ui-dialog-buttonset .crm-form-submit.ui-button:not(.cancel), .crm-container a.crm-form-submit.button:not(.cancel), .crm-container input.crm-form-submit:not(.cancel)[type=button], .crm-container *:not(.crm-submit-buttons)>div.crm-button:not([class*='crm-button-type-']), .crm-container *:not(.crm-submit-buttons)>button.crm-button:not([class*='crm-button-type-']), .page-civicrm-group .crm-submit-buttons a.newGroup.button, .page-civicrm-admin #crm-main-content-wrapper .crm-submit-buttons a.button, .page-civicrm-a #crm-main-content-wrapper .crm-submit-buttons a.button, .page-civicrm-a.page-civicrm-a .crmCaseType .crm-button[crm-icon=fa-check], .crm-container.ui-dialog .ui-dialog-content .button:not(.hr-job-info-close), body[class*='page-civicrm-report-'] #report-tab-order-by-elements #optionFieldLink>.form-link, .crm-container #discount [name='_qf_Fee_submit'], .crm-container #contact-summary-relationship-tab.view-content div.action-link>a.button {
  background: #4fb646;
}

/* CiviCRM Tables and Forms */
#crm-container table.crm-inline-edit-form td, #crm-container div.crm-inline-edit-form {
  background-color: transparent;
}

/* CiviCRM Misc */
.crm-container .ui-tabs .ui-tabs-nav .ui-corner-all, .crm-container .ui-tabs .ui-tabs-nav .ui-corner-top {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  margin-bottom: -1px;
  padding: 7px 15px;
}
.crm-container .ui-tabs .ui-tabs-nav .ui-corner-all a, .crm-container .ui-tabs .ui-tabs-nav .ui-corner-top a {
  display: block;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 600;
  outline: none;
}
.crm-container .ui-tabs .ui-tabs-nav .ui-corner-all a, .crm-container .ui-tabs .ui-tabs-nav .ui-corner-top a {
  color: #464354;
  display: block;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 600;
  outline: none;
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-widget-header {
  border: none;
}
.crm-container tr.even-row td, .crm-container tr.odd-row td, .crm-container table.display td, .crm-container table.pagerDisplay td {
  border: none;
}
.crm-container table {
  border: none;
}

#crm-container .ui-state-default, #crm-container .ui-widget-content .ui-state-default, #crm-container .ui-widget-header .ui-state-default {
  background: #f6f7f8;
  border-right: #4fb646 2px solid;
  text-transform: uppercase;
}
#crm-container .ui-tabs .ui-tabs-nav .ui-corner-all.ui-tabs-active, #crm-container .ui-tabs .ui-tabs-nav .ui-corner-top.ui-tabs-active {
  border: none;
  border-right: #4fb646 2px solid;
  border-bottom: none;
  background: #282A29;
  color: #ffffff;
  border-radius: 0;
}
#crm-container .ui-state-default:last-child, 
#crm-container .ui-widget-content .ui-state-default:last-child, 
#crm-container .ui-widget-header .ui-state-default:last-child {
  border-right: none;
}
#crm-container .ui-tabs .ui-tabs-nav .ui-corner-all.ui-tabs-active a, 
#crm-container .ui-tabs .ui-tabs-nav .ui-corner-top.ui-tabs-active a {
  color: #ffffff;
}
.crm-container .ui-tabs .ui-tabs-nav {
  background: transparent;
  border-bottom: none;
}
.crm-container .ui-tabs .ui-tabs-nav .ui-corner-all, 
.crm-container .ui-tabs .ui-tabs-nav .ui-corner-top {
  border-bottom: none;
}
#crm-container div.crm-summary-contactname-block {
  margin-top: 1em;
}
#crm-container div.crm-summary-display_name {
  font-size: 25px;
}
.Individual-subtype-icon {
  display: none;
}
.crm-container .dataTables_wrapper, 
.crm-container .crm-accordion-header:not(.crm-master-accordion-header)+.crm-accordion-body, 
.crm-container #changeLog .form-item,
.crm-container #changeLog>div.bold, 
.crm-container *:not(.crm-form-block)>h3:not(.crm-severity-info), 
.crm-container *:not(.crm-form-block)>h3:not(.crm-severity-info)>.selector, 
.crm-container *:not(.crm-form-block)>h3:not(.crm-severity-info)+div,
.crm-container *:not(.crm-form-block)>h3:not(.crm-severity-info)+div>.selector,
.crm-container *:not(.crm-form-block)>h3:not(.crm-severity-info)+script+div,
.crm-container *:not(.crm-form-block)>h3:not(.crm-severity-info)+script+div>.selector,
.crm-container .action-link a.button {
  box-shadow: none!important;
}