/*************************** Keyframes *******************************/
@keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}
@-moz-keyframes opacity { 
    from { opacity: 0; } 
    to { opacity: 1; } 
}
@-ms-keyframes opacity { 
    from {opacity:0; } 
    to { opacity: 1; } 
}
@-o-keyframes opacity { 
    from {opacity:0; } 
    to { opacity: 1; } 
}
@-webkit-keyframes opacity { 
    from { opacity:0; } 
    to { opacity: 1; } 
}
@keyframes background { 
    from { background-color:#ffffff; } 
    to { background-color: #f4f4f1; } 
}
@-moz-keyframes background { 
    from { background-color:#ffffff; } 
    to { background-color: #f4f4f1; } 
}
@-ms-keyframes background { 
    from { background-color:#ffffff; } 
    to { background-color: #f4f4f1; } 
}
@-o-keyframes background { 
    from { background-color:#ffffff; } 
    to { background-color: #f4f4f1; } 
}
@-webkit-keyframes background { 
    from { background-color:#ffffff; } 
    to { background-color: #f4f4f1; } 
}
@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
@-moz-keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
@-ms-keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
@-o-keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

/*************************** Top Bar *******************************/
.layout--ptc-app-ui-left .l-header {
  color: #000000;
  background: #ffffff;
  border-bottom: solid #d7d8d7 1px;
}
.l-header a {
  color: #000000;
}
.l-header a:hover {
  font-weight: 900;
}

/*** User Menu ***/
.welcome {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.welcome:before {
  content: "";
  display: inline-block;
  background: url('../images/profile.svg') no-repeat;
  background-size: cover;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}
.welcome span.caret:after {
  content: "\25BE";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: .5rem;
}
.welcome ul.menu-tree {
  display: none;
  position: absolute;
  background: #ffffff;
  border-bottom: 1px solid #d7d8d7;
  z-index: 100;
  color: #000000;
  min-width: 150px;
}
.welcome:hover ul.menu-tree {
  display: block;
  opacity: 1;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
.l-header .menu > li, .header-menu li {
  float: none;
}
@media (min-width: 62em) {
	.l-header .menu > li {
		font-size: 1em;
	}
}
@media (min-width: 34em) {
	.l-header .menu > li {
	    font-size: .75em;
	}
	.l-header .menu a {
		padding: 1.25rem 1.25rem 0 1.25rem;
	}
	.l-header .menu li:last-child a {
  	padding-bottom: 1.25rem;
  }
}

/*** Search Bar ***/
#search-bar {
  position: relative;
}
#search-bar input {
  padding: 10px 10px 10px 40px;
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  border-width:0px;
  border:none;
  font-size: 20px;
  background-size: 20px;
  background-position-x: 10px;
  background-position-y: center;
  border-radius: 10px;
}
#search-bar input:focus , .filled-background{
  border: none;
  outline: none;
  animation: background 300ms ease-in-out forwards;
}
#search-bar-results {
  position: absolute;
  z-index: 100;
  border-bottom: 1px solid #d7d8d7;
  animation: background 300ms ease-in-out forwards;
  margin-left: 20px;
  max-width: 225px;
}
#search-bar-results .contact-result {
  animation: expand .5s ease-in-out;
  min-width: 150px;
  padding: 5px 1em;
  word-break: break-word;
  padding-left: 3em;
  text-indent: -2em;
}


/*************************** Side Bar *******************************/
.navigation a img {
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -moz-transition: 1s filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
  transition: 1s filter linear, 1s -webkit-filter linear;
  }
.navigation a:hover img {
  filter: brightness(50%);
  }
  
/*************************** Modal *******************************/
.modal {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #272929;
  padding: 10px;
  min-width: 75px;
  min-height: 75px;
  border-radius: 15px 0 0 0;
}
.modal .toggle {
  position: absolute;
  right: 10px;
  bottom: 10px;
  left: 10px;
  top: 10px;
  cursor: pointer;
  background-image: url('../images/add.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.modal.open .toggle {
  width: 20px;
  height: 20px;
  right: unset;
  bottom: unset;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.modal.open .block-pei-menu-pei-add-links {
  display: block;
  padding: 15px;
}
.modal .block-pei-menu-pei-add-links {
  display: none;
}
.modal ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.modal a {
  text-decoration: none;
}
.modal a:hover {
  background: #006C92;
  color: #ffffff;
}
.add-activity {
  cursor: pointer;
}
.add-activity ul {
  display: none;
}
.add-activity ul.open {
  display: block;
  animation: growDown 300ms ease-in-out forwards;
}
.modal h2 {
  color: #ffffff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
}
.modal span.caret:after {
  content: "\25BE";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: .5rem;
  color: #ffffff;
} 


/*************************** Dashlets *******************************/

.dashlet {
  background: #f4f4f1;
  border-radius: 15px;
  margin: 10px;
  padding: 16px!important;
}
.header-row {
  padding: 0!important;
}
.icon-expand {
  background-image: url('../images/expand.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: .5rem;
  color: #000000;
}
.ui-accordion .ui-accordion-content {
  padding: 0;
}
.ui-accordion .ui-accordion-content-active {
  display: flex!important;
}
.ui-accordion .ui-accordion-content .views-field-activity-type {
  font-size: 18px;
  font-weight: 900;
}
.block-views-educators-recent-activity-view-added-by-educator-block .views-row {
  width: 100%;
}
.block-views-educators-aggregate-activity-view-my-teen-council2-block .views-field-activity-type {
  font-size: 20px;
  font-weight: 900;
}
.block-views-program-administrators-top-and-bottom-teen-councils-block .view .view .views-row {
  width: 100%;
}

/*************************** Misc Overrides *******************************/
.crm-footer {
  display: none;
}
#crm-container #access {
  display: none;
}